// Style the menu button

.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  @include easeOut;
  visibility: hidden;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  & .show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: darken($primary-color, 3);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0%, 0);
    }
  }

  .nav-item {
    transform: translate3d(0, -200px, 0px);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    @include easeOut;
    color: text-color($primary-color);

    &:hover {
      color: $secondary-color;
      transform: scale(1.1);
    }
  }

  .nav-close {
    position: absolute;
    top: 35px;
    right: 45px;
    cursor: pointer;
    @include easeOut;

    &:hover {
      .btn-line {
        background: $secondary-color;
      }
    }

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: text-color($primary-color);
      @include easeOut;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 0px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translate(5px, 0px);
      }
    }
  }
}

// About

.menu2 {
  position: fixed;
  top: 0;
  width: 100%;

  &-nav2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1.7rem;
    list-style: none;
    background: darken($primary-color, 14);

    .nav-item2 {
      display: inline-block;
      padding-right: 3rem;

      &.current > a {
        color: $secondary-color;
      }

      a {
        font-size: 1.6rem;
        text-transform: uppercase;
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 0.5rem;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
// Set a transition delay for each nav item
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.25s;
  }
}
