// Widescreen desktops

@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Laptops and Desktops

@include mediaLg {
  .menu {
    .menu-nav {
      width: 80%;
    }
  }

  main {
    .sm-heading {
      margin-bottom: 2.5rem;
    }
  }

  // Projects
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  // Contact Me
  main#contact {
    .contact-form {
      width: 35rem;
    }
  }
}

// Small laptops and Tablets

@include mediaMd {
  header {
    .menu {
      .menu-nav {
        width: 100%;
        min-height: 0;
      }
    }
  }

  main {
    h1 {
      line-height: 7rem;
      margin-bottom: 1.5rem;
    }
  }

  // Hide Nav2

  #bg-img .menu-btn {
    visibility: hidden;
  }

  .menu-btn {
    visibility: visible;
  }

  .menu2 {
    visibility: hidden;
  }

  main#about {
    text-align: center;
    padding: 2rem 2rem 3rem;

    .bio {
      grid-template-areas:
        "img"
        "content";
      grid-template-columns: 1fr;
    }

    .bio-content {
      text-align: center;
      margin-top: 3rem;
    }
  }

  // Projects
  main#project {
    margin-top: 1rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  // Contact Me
  main#contact {
    margin: 1rem auto 0;
    .contact-form {
      width: 100%;
    }
  }
}

// Phones

@include mediaSm {
  main#home h1.lg-heading {
    margin-top: 10vh;
  }

  main#home .text-secondary {
    margin-left: -15px;
  }

  // Projects

  .projects {
    grid-template-columns: 1fr;
  }

  // Contact Me
  main#contact {
    padding: 3rem 2rem;

    .contact-form {
      width: 100%;

      button[type="submit"] {
        width: 90%;
      }
    }
  }
}

// Smaller Phone sizes

@include samsungS10 {
  main#home span.text-secondary {
    margin-left: -30px;
  }

  // About page

  img.profile-img {
    margin-left: -10px;
  }

  .bio-content p {
    margin-left: -10px;
  }

  // Projects Page

  main#project {
    span.text-secondary {
      margin-left: -33px;
    }

    h2 {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }
}
